<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title VideoPlayer
	link(rel="stylesheet", href="css/main.css")
	script(src="js/jquery.js")
	script(src="js/main.js")
body
	.video-player
		video(src='batman.mp4')
		.nav-panel
			.slider-time
				.icone
					.icone-time
			.content-center
				.content-left
					.play
					.time 00:00 / 00:00
					.hide-volume
						img(src='img/volume.png').volume-icone
						.slider-volume
							.icone
					.volume 100
					.hide-speed
						img(src='img/speed.png').speed-icone
						.slider-speed
							.icone
					.speed 1.00
				.content-right
					.full-screen

